:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-grey: #4a4a4a;
  --color-secondary-brown: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
