.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 621px;
  padding: 42px 0;
  border-radius: 48px;
  background-color: var(--color-brand-dark);
  background-image: url("../images/footer-line.png");
  border-radius: 32px;
  overflow-y: auto;

  &__title {
    font-family: "Play";
    font-size: 64px;
    font-weight: 700;
    color: var(--color-primary-light);
    max-width: 435px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__button {
    position: absolute;
    right: 40px;
    background-color: transparent;
    border: 0;
    fill: var(--color-primary-light);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-brand-light);
    }
  }
}

.modal-form {
  text-align: center;
  &__input {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    border-radius: 32px;
    border: 2px solid var(--color-secondary-brown);
    background-color: transparent;
    padding-left: 32px;
    width: 278px;
    height: 52px;
    color: var(--color-primary-light);
    transition: background-color 0.2s, otline 0.2s;

    &:focus {
      background-color: var(--color-secondary-brown);
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-light);
    }
  }

  &__form-field {
    text-align: center;
  }

  &__button {
    display: block;
    max-width: 281px;
    margin: 0 auto;
    margin-bottom: 8px;
    transition: color 0.2s, background-color 0.2s, border 0.2s;

    &:hover {
      color: var(--color-primary-light);
      background-color: transparent;
      border: 2px solid var(--color-brand-light);
    }
  }

  &__terms {
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    color: var(--color-secondary-brown);
    max-width: 209px;
    transition: color 0.2s;

    &:hover {
      color: var(--color-brand-light);
      cursor: pointer;
    }
  }

  &__terms-span {
    text-decoration: underline;
  }
}
