.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__title {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: normal;
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 48px;
    }

    &--limited {
      text-align: center;
      max-width: 223px;

      @media screen and (min-width: $bp-tablet) {
        text-align: center;
        max-width: 432px;
      }
    }

    span {
      color: var(--color-brand-light);
    }
  }
}
