.section {
  padding: 48px 0;

  &__title {
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;

    &--limited {
      text-align: center;
      max-width: 432px;
    }

    span {
      color: var(--color-brand-light);
    }
  }
}
