.contact-section {
  padding-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-brand-dark);
    background-image: url("../images/footer-line.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
    padding: 30px 23px;
    flex-grow: 1;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-color: var(--color-brand-dark);
      background-image: url("../images/footer-line@2x.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      background-color: var(--color-brand-dark);
      border-radius: 32px;
      padding: 48px 56px;
      flex-grow: 1;
    }
  }

  &__title {
    color: var(--color-primary-light);
    font-size: 22px;
    max-width: 284px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__span {
    color: var(--color-brand-light);
    font-weight: 600;
  }

  &__field {
    margin-bottom: 16px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__map {
    flex-shrink: 0;
    border: none;
    height: 232px;
    width: 105%;
    flex-grow: 1;

    @media screen and (min-width: $bp-tablet) {
      border-radius: 32px;
      width: 300px;
      height: 481px;
      margin: auto;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 481px;
    }
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }
}
