.footer {
  background-color: var(--color-brand-dark);
  background-image: url("../images/footer-line.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 56px 0;

  @media screen and (min-width: $bp-tablet) {
    &::before {
      content: "";
      position: absolute;
      width: 247px;
      height: 151px;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-image: url("../images/footer-medicine.png");
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__img {
    width: 83px;
    height: 42px;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__logo,
  &__list {
    flex-grow: 1;
  }

  &__nav {
    gap: 42px;
  }

  &__nav,
  .address {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.1;
    transition: color 0.2s;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__menu {
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__menu-item {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0px;
    }
  }
}

.address {
  &__link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    line-height: 1.1;
    transition: color 0.2s;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__copyright {
    color: var(--color-secondary-brown);
    font-size: 12px;
    font-style: normal;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 13px;
    }
  }

  &__icons {
    width: 32px;
    height: 32px;
    fill: var(--color-primary-light);
    transition: fill 0.2s;

    @media screen and (min-width: $bp-desktop) {
      width: 42px;
      height: 42px;
    }

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__policy {
    order: -1;

    @media screen and (min-width: $bp-tablet) {
      order: 1;
    }
  }

  &__policy,
  &__menu {
    flex-grow: 1;
  }

  &__menu {
    &li:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__item {
    max-width: 203px;
    line-height: 1.1;
  }

  &__list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      li {
        margin-bottom: 16px;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }

    li {
      margin-bottom: 0;
      gap: 24px;
    }
  }

  &__policy-list:first-child {
    margin-bottom: 16px;
  }

  &__policy-menu {
    text-align: center;
  }
}
