.procedures-section {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__card {
    display: flex;
    align-items: flex-end;
    width: 344px;
    height: 456px;
    background-color: darkgray;
    border-radius: 4px 120px;
    transition: transform 0.2s;
  }

  &__card:hover {
    transform: scale(1.05);
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__text {
    color: var(--color-primary-light);
    font-family: "Roboto", sans-serif;
    line-height: 1.1;
    margin-bottom: 32px;
    max-width: 152px;
    margin-left: 115px;
    text-align: center;
  }
}
